name: Django CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
    - uses: 'google-github-actions/auth@v0.4.0'
      with:
        workload_identity_provider: '${{ secrets.WIF_PROVIDER_NAME }}'
        service_account: '${{ secrets.APPENGINE_DEPLOY_SA_EMAIL }}'    
    - id: 'deploy-app'
      name: 'deploy'
      uses: 'google-github-actions/deploy-appengine@v0.1.0'
      with:
        deliverables: './app.yaml'
        project_id: '${{ secrets.GCP_PROJECT }}'

    - name: 'show output'
      run: 'echo ${{ steps.deploy.outputs.url }}'